BackEnd/docs/apidocs/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
  
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="securityConfiguration">
 </xs:complexType>

<xs:complexType name="swaggerResource">
       <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="location" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="swaggerVersion" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="uiConfiguration">
 </xs:complexType>

</xs:schema>